**/*.config.js
node_modules/**
tmp/**
static/**
pnpm-lock.yaml
pnpm-workspace.yaml
**/README.node_modules
nx.json
**/package.json
.prettierignore
.prettierrc.json
**/.eslintrc.json
.npmrc
.gitignore
.dockerignore
**/tsconfig.json
.vscode/**
.idea/**
prisma